Fonte: https://www.youtube.com/watch?v=WGlMlS_Yydk&t=121s

####I = {Cebola, Burguer, Batata, Leite, Cerveja}
####{Cebola, Batata} => {Burguer}

###supp(x)=((Number of transactions in which X appears)/Total number of transactions)

###conf(X => Y) = supp(X U Y)/supp(X)

In [64]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [65]:
df = pd.read_excel(r'/content/drive/MyDrive/Ifes/2022_2/Inteligência de Negócios - Kelly/Entrega 2/baseDados.xlsx')
print(df)

   Leite  Pao  Acucar  Café  Manteiga  Mamao  Banana  Maca
0      1    1       1     1         1      0       0     0
1      0    0       0     0         0      1       1     1
2      1    1       0     0         0      0       0     0
3      1    0       1     0         0      1       1     0
4      1    1       1     0         0      0       1     1
5      1    0       0     0         0      0       0     0
6      1    1       1     1         1      1       1     0
7      0    0       1     1         1      1       1     1
8      0    1       1     1         1      1       1     1

In [25]:
#Neste caso podemos ver que temos 4 maçãs que estão representadas pelo valor 1
df[['Maca']].value_counts()

Maca
0       5
1       4
dtype: int64

In [26]:
#Neste caso temos 5 pães que estão representados pelo valor 1
df[['Pao']].value_counts()

Pao
1      5
0      4
dtype: int64

In [27]:
df[['Acucar']].value_counts()

Acucar
1         6
0         3
dtype: int64

In [43]:
#Agora para verificar em quantos casos tivemos os 3 ao mesmo tempo
df[['Pao','Acucar','Maca']].value_counts()
#como podemos ver em nenum caso tevemos os 3 ao mesmo tempo

Pao  Acucar  Maca
1    1       0       2
             1       2
0    0       0       1
             1       1
     1       0       1
             1       1
1    0       0       1
dtype: int64

In [32]:
#Este é um exemplo em que temos os 3 acontecendo ao mesmo tempo e a sua frenquencia 
df[['Leite','Pao','Acucar']].value_counts()
####Como podemos notar a ordem neste caso pouco importa, do contrario do augoritmo FP-Growth

Leite  Pao  Acucar
1      1    1         3
0      0    0         1
            1         1
       1    1         1
1      0    0         1
            1         1
       1    0         1
dtype: int64

In [33]:
df[['Café','Manteiga','Mamao']].value_counts()

Café  Manteiga  Mamao
0     0         0        3
1     1         1        3
0     0         1        2
1     1         0        1
dtype: int64

## Exemplo com uma base de dados do Kaggle
Base de dados: https://www.kaggle.com/datasets/shazadudwadia/supermarket?resource=download

Artigo explicando: https://medium.com/@mervetorkan/association-rules-with-python-9158974e761a

In [54]:
#para  importar os arquivos que estão na minha pasta local do google drive eu utilizo o seguinte codigo
baseDeDados = pd.read_csv('/content/drive/MyDrive/Ifes/2022_2/Inteligência de Negócios - Kelly/Entrega 2/GroceryStoreDataSet.csv', names = ['Produtos'], sep = ',')
baseDeDados.head()

                        Produtos
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [50]:
#Dimensões do codigo
baseDeDados.shape

(19, 1)

In [55]:
dadosComSplit = list(baseDeDados["Produtos"].apply(lambda x:x.split(",") ))
dadosComSplit

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [74]:
#Let's transform the list, with one-hot encoding
from mlxtend.preprocessing import TransactionEncoder
a = TransactionEncoder()
a_dados = a.fit(dadosComSplit).transform(dadosComSplit)
baseDeDados = pd.DataFrame(a_dados,columns=a.columns_)
baseDeDados = baseDeDados.replace(False,0)
baseDeDados = baseDeDados.replace(True,1)
baseDeDados

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [75]:
baseDeDados = apriori(baseDeDados, min_support = 0.2, use_colnames = True)
baseDeDados

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BREAD, BISCUIT)
10     0.20         (BREAD, MILK)
11     0.20        (SUGER, BREAD)
12     0.20          (TEA, BREAD)
13     0.20  (COFFEE, CORNFLAKES)
14     0.20       (SUGER, COFFEE)
15     0.20          (TEA, MAGGI)

In [76]:
df_ar = association_rules(baseDeDados, metric = "confidence", min_threshold = 0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.75
1,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.05
2,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80
3,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80
4,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.25